.picker + h1 {
  padding: 0;
  margin: 40px;
  font-size: 5em;
  line-height: 0.7em;
  letter-spacing: -6px;
  color: #f0eff1;
  text-align: center;
}

.picker {
  position: absolute;
  width: 90px;
  height: 90px;
}
